<template>
	<div>
		<div class="wrapper ">
			<sidebar :userId="user"></sidebar>	
       <div class="main-panel">
      <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            
            <ul class="navbar-nav">
             <router-link :to="{name: 'index'}" tag="li" class="nav-item" >
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
             </router-link>
             <router-link :to="{name: 'profile'}" tag="li" class="nav-item" >
                <a class="nav-link">
                  <i class="material-icons">account_circle</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
             </router-link>
            </ul>
          </div>
        </div>
      </nav>
      <div class="header-head text-center">
          <div class="container-fluid ">
          
            <div class="header-name lead">Welcome, {{name}}</div>

                  </div>
        </div>
      <!-- End Navbar -->
      <div class="content">
          <router-view></router-view>
        </div>
      </div>
     
    </div>
			</div>

</template>

<script>
import sidebar from './Dashboard/sidebar'
import card from './Dashboard/widgets/cards.vue';
import BounceLoader from 'vue-spinner/src/BounceLoader.vue';
import {eventBus} from '../app.js';

	export default{
		components: {
			sidebar,
      card,
      BounceLoader,
		},
    props: {
      user:{
        type: String,
        required: true,
      },
      name: {
        type:String,
        required: true,
      }
    },
    data(){
      return {
       transactionLoading: true,
       transaction_count: '',
       walletLoading: true,
       amount: '',
      }
    },
    mounted(){
      this.getTransactions();
      this.getAmount()
      eventBus.$on('reloadTransactionCount', () => {
        this.getTransactions();
      })
    },
    methods: {
      getTransactions(){
        this.$http.get('/api/user/dashboard/transactions/count/'+this.user).then(res => {
          this.transaction_count = res;
          this.transactionLoading = false;
        });
      },
      getAmount(){
        this.$http.get('/api/user/dashboard/amount/'+this.user).then(res => {
          this.amount = res;
          this.walletLoading = false;
        });
      }
    }

	}
</script>
