<template>
         <div class="home-4">
          <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-6">
                  <div v-if="walletLoading" class="card" style="height: 120px;">
                    <div class="card-body">
                       <center><bounce-loader  color="#f9b707" size="30px" style="margin: 30px;"></bounce-loader>
                       </center>
                    </div>
                    </div>
                     <div v-else >
                   <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Total Earnings</p>
                        <h3 class="card-title">{{amount.data}}</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">done</i> <router-link to="/#">View all</router-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div v-if="walletLoading" class="card" style="height: 120px;">
                    <div class="card-body">
                       <center><bounce-loader  color="#f9b707" size="30px" style="margin: 30px;"></bounce-loader>
                       </center>
                    </div>
                    </div>
                     <div v-else >
                   <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">credit_card</i>
                        </div>
                        <p class="card-category">Wallet</p>
                        <h3 class="card-title">{{amount.data}}</h3>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">done</i> <router-link to="/#">View all</router-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-4 col-md-4 col-sm-6">
                   <div v-if="transactionLoading" class="card" style="height: 120px;">
                    <div class="card-body">
                       <center><bounce-loader  color="#f9b707" size="30px" style="margin: 30px;"></bounce-loader>
                       </center>
                    </div>
                    </div>
                    <div v-else >
                      <div class="card card-stats">
                      <div class="card-header card-header-success card-header-icon" >
                          <div class="card-icon">
                            <i class="material-icons">assignment</i>
                          </div>
                          <p class="card-category">Transactions</p>
                          <h3 class="card-title">{{transaction_count.data}}</h3>
                        </div>
                        <div class="card-footer">
                          <div class="stats">
                            <i class="material-icons">done</i> <router-link to="/#">View all</router-link>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
  </div>
</div>
</template>

<script>
import BounceLoader from 'vue-spinner/src/BounceLoader.vue';
import {eventBus} from '../../../app.js';

	export default{
		components: {
      BounceLoader,
		},
        props: {
            user:{
                type: String,
                required: true,
            },
        
    },
    data(){
      return {
       transactionLoading: true,
       transaction_count: '',
       walletLoading: true,
       amount: '',
      }
    },
    mounted(){
      this.getTransactions();
      this.getAmount()
      eventBus.$on('reloadTransactionCount', () => {
        this.getTransactions();
      })
    },
    methods: {
      getTransactions(){
        this.$http.get('/api/user/dashboard/transactions/count/'+this.user).then(res => {
          this.transaction_count = res;
          this.transactionLoading = false;
        });
      },
      getAmount(){
        this.$http.get('/api/user/dashboard/amount/'+this.user).then(res => {
          this.amount = res;
          this.walletLoading = false;
        });
      }
    }

	}
</script>